<!--DOCTYPE html-->
<html>
<head>
    <title>everyday-bangumi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="{{ template_path }}\bootstrap.css" rel="stylesheet">
    <link href="{{ template_path }}\main.css" rel="stylesheet">
    <meta charset="utf-8">
</head>
<style>
.img-left{
    float:left;
    width:38%;
}
.img-right{
    float:right;
    width:38%;
}
.intro-left{
    float:right;
    width:62%;
}
.intro-right{
    float:right;
    width:62%;
}
</style>
<body style="background-color: #bed2b7;">
    <p style="font-size: 100; font-family: chinese_font;text-align: center; color: #52584e;"><b>今日番剧</b></p>
    {% for each in data1 %}
        <div style="background-color: #f7ede3;height: 600; width: 1160; margin-top: 20; margin-bottom: 40; margin-left: 20; margin-right: 20">
            {% if loop.index % 2 == 1 %}
            <div class="img-left"><img src="{{ each['imgUrl'] }}" height="600px" width="450px"></div>
            <div class="intro-right">
            {% else %}
            <div class="img-right"><img src="{{ each['imgUrl'] }}" height="600px" width="450px"></div>
            <div class="intro-left">
            {% endif %}
                <div style="height: 20%;"></div>
                <div style="text-align: center;">
                    <p style="font-size: 60; font-family: chinese_font;text-align: center; color: #52584e;"><b>{{ each['cnName'] }}</b></p>
                    <div style="height: 5%;"></div>
                    <table class="table" style="font-size: 25;text-align: left; table-layout: fixed;">
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="4">播出时间（日本）</td>
                            <td colspan="4">{{ each['jpTime'] }}</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="4">播出时间（中国）</td>
                            <td colspan="4">{{ each['cnTime'] }}</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="4">开播日期</td>
                            <td colspan="4">{{ each['startTime'] }}</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="4">播出平台</td>
                            <td colspan="4">
                                {% for web in each['playWeb'] %}
                                    {{ web }}</br>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for each in data2 %}
        <div style="background-color: #f7ede3;height: 600; width: 1160; margin-top: 20; margin-bottom: 40; margin-left: 20; margin-right: 20">
            <div style="height: 20%;"></div>
            <div style="text-align: center;">
                <p style="font-size: 60; font-family: chinese_font;text-align: center; color: #52584e;"><b>{{ each['cnName'] }}</b></p>
                <div style="height: 5%;"></div>
                <table class="table" style="font-size: 25;text-align: left; table-layout: fixed;">
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="4">播出时间（日本）</td>
                        <td colspan="4">{{ each['jpTime'] }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="4">播出时间（中国）</td>
                        <td colspan="4">{{ each['cnTime'] }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="4">开播日期</td>
                        <td colspan="4">{{ each['startTime'] }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="4">播出平台</td>
                        <td colspan="4">
                            {% for web in each['playWeb'] %}
                                {{ web }}</br>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% endfor %}
    <!--div class="col-sm-6" style="background-color: #bed2b7;">
    <div style="background-color: #f7ede3;height: 438; margin-top: 10; margin-bottom: 20;">
        <div class="col-sm-4" style="padding: 0;">
            <img src="https://lain.bgm.tv/pic/cover/l/ff/e5/327606_Q11Sq.jpg"  class=" col-sm-12" style="padding: 0;">
        </div>
        <div class="col-sm-8">
        <div style="height: 20%;"></div>
        <div style="text-align: center;">
            <p style="font-size: 50; font-family: chinese_font;text-align: center; color: #52584e;"><b>杜鹃的婚约</b></p>
        </div>
        <table class="table" style="text-align: left; table-layout: fixed;">
            <tr>
                <td colspan="2"></td>
                <td colspan="4">播出时间（日本）</td>
                <td colspan="4">周日 00:30</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="4">播出时间（中国）</td>
                <td colspan="4">暂无</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="4">开播日期</td>
                <td colspan="4">2022-04-24</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="4">播出平台</td>
                <td colspan="4">哔哩哔哩（港澳台）<br/>哔哩哔哩（港澳台）
                </td>
            </tr>
          
        </table>
        </div>

    </div-->
    
</div>

</body>

</html>
